*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Rubik;
}
@font-face {
    font-family:Rubik ;
    src: url("../fonts/Rubik-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family:Rubik ;
    src: url("../fonts/Rubik-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family:Rubik ;
    src: url("../fonts/Rubik-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: Rubik ;
    src: url("../fonts/Rubik-SemiBold.ttf");
    font-weight: 600;
}
a{
    text-decoration: none;

}
li{
    list-style: none;
}
body{
    
    background: url("../img/p-bg.png");
    background-attachment: fixed;

    
}
.container{
    margin: 0px auto;
    max-width: 1320px;
    
}
.header{

    padding-top: 15px;
    background-color: rgba(100, 225, 245, 80%);
    padding-bottom: 30px;

    &__top{
        display: flex;
        justify-content: space-between;
    }
    &__questions{
        display: flex;
        gap: 50px;
    }
    &__link{
        color: #000000;
        font-weight: 400;
        font-size: 20px;
        display: block;
        &_last:hover{
            display: none;
            
        }
    }
    &__time{
        color: #000000;
        font-weight: 400;
        font-size: 20px;
    }
    &__middle{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }
    &__left{
        display: flex;
        flex-direction: row;
    }
    &__phones{
        padding-left: 115px;
    
    }
    &__phone{
        font-weight: 500;
        font-size: 25px;
        padding-top: 20px;
    }
    &__box{
        display: flex;
        gap: 30px;
        align-items: baseline;
        margin-top: 20px;
    }
    &__link{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

}
.below{
    background-color: rgba(56, 202, 226, 80%);

    &__links{

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 70px;
        padding: 15px 0;
    }
    &__link{
        color: #000000;
        font-weight: 500;
        font-size: 25px;
        display: block;
        &_last:hover{
            
            display: none;
        }
    }
}

.map{
    background-color: rgba(253, 194, 78, 80%);
    &__png{
        padding-top: 3px;
        width: 100%;
        height: 100%;
        position: relative;
    }
    &__icon{
        position: absolute;
        top: 506px;
        margin-left: -700px;
        &:hover{
            width: 160px;
            height: auto;
            top: 496px;
            margin-left: -710px;
        }
    }
}

.footer{

    padding-top: 40px;
    padding-bottom: 65px;
    background-color: rgba(214, 89, 121, 80%);
    &__wrapper{
        display: flex;
        justify-content: space-between;

    }
    &__img-box{
        display: flex;
        flex-direction: row;
    }
    &__png-text{
        padding-left: 25px;
    }
    &__media-box{
        text-align: center;
        gap: 15px;
    }
    &__about{
        color: #000000;
        font-weight: 600;
        font-size: 30px;
    }
    &__us{
        color: #000000;
        font-weight: 600;
        font-size: 30px;
    }
    &__btn{
        color: #000000;
        font-weight: 700;
        font-size: 25px;
        background-color: #64E1F5;
        padding: 10px 40px;
        max-width: 300px;
        border-radius: 10px;
        margin-bottom: 30px;
        margin-left: 120px;
        
        &:hover{
            cursor: pointer}
    }
    &__protect{
        color: #5C4D4D;
        font-size: 15px;
        font-weight: 400;
        margin-left: 115px;
    }
}